body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px 0px 0px 0px;
}

#chart {
    background-color: #dadada;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid #c3c3c3;
    /* min-height: 200px; */
}

#key {
    margin: 0px 10px 10px 10px;
    /* height: 120px; */
    border: 1px solid #dadada;
    border-radius: 10px;
    padding: 10px;
}

.head-national {
    border-radius: 10px;
    background-color: #a0a0a0;
    color: white;
    flex-grow: 1;
    padding: 10px;
    /* height: 40px; */
    margin: 10px 10px 0px 10px;
}

.head-national-content {
    display: flex;
    justify-content: space-between;
}

.national-date-checked {
    font-size: 10px;
}

.head-state-top {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.head-state-top-content {
    border-radius: 10px;
    border: 1px solid #f58282;
    /* border: 1px solid green; */
    background-color: #ffbaba;
    color: white;
    flex-grow: 1;
    padding: 10px;
    margin: 0px 10px 0px 10px;
}

.svg-state-title {
    fill: white;
    font-weight: bold;
    font-size: 36px;
}

.title {
    font-weight: bold;
}

.daily-key-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

/* positive */
.positive {
    fill: #3C7AD9;
    stroke: black;
    stroke-width: 1px;
}

.delta-positive {
    fill: #b8d3fb;
    stroke: black;
    stroke-width: 1px;
}

.key-positive {
    background-color: #3C7AD9;
    width: 10px;
    height: 10px;
    display: inline-block;
    border: 1px solid black;
}

.key-delta-positive {
    background-color: #b8d3fb;
    border: 1px solid black;
    width: 10px;
    height: 10px;
    display: inline-block;

}

/* negative */
.negative {
    fill: #78D93C;
    stroke-width: 1px;
}

.key-negative {
    background-color: green;
    width: 10px;
    height: 10px;
    display: inline-block;
}

/* fatality */

.death {
    stroke: black;
    stroke-width: 1px;
    fill: #4F1313;
}

.delta-death {
    fill: #4F1313;
    stroke: black;
    stroke-width: 1px;
}

.key-death {
    background-color: black;
    border: 1px solid black;
    width: 10px;
    height: 10px;
    display: inline-block;
}

.key-delta-death {
    background-color: #4F1313;
    border: 1px solid black;
    width: 10px;
    height: 10px;
    display: inline-block;
}

/* hospitalized */
.hospitalized {
    fill: #D9C63C;
    stroke: black;
    stroke-width: 1px;
}

.delta-hospitalized {
    fill: #ffb000;
    stroke: black;
    stroke-width: 1px;
}

.key-hospitalized {
    background-color: #D9C63C;
    width: 10px;
    height: 10px;
    display: inline-block;
    border: 1px solid black;
}

.key-delta-hospitalized {
    background-color: #ffb000;
    border: 1px solid black;
    width: 10px;
    height: 10px;
    display: inline-block;
}

/* tested */
.tested {
    fill: #80d93c87;
    stroke: black;
    stroke-width: 1px;
}

.key-delta-tested {
    background-color: #80d93c87;
    border: 1px solid black;
    width: 10px;
    height: 10px;
    display: inline-block;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0px 20px 0px;
}

.footer-item {
    padding: 01px 40px 0px 40px;
    font-size: 12px;
}


@media only screen and (max-width: 800px) {
    body {
        /* background-color: lightblue; */
    }

    .head-national-content {
        flex-direction: column;
    }

    .head-state-top {
        flex-direction: column;
    }

    .head-state-top-content {
        margin: 5px 10px 0px 10px;
    }

    .daily-key-content {
        flex-direction: column;
    }

    .daily-key-group {
        margin-top: 10px;
    }

    .footer {
        flex-direction: column;
        padding: 01px 40px 0px 40px;
        font-size: 12px;
    }
}